@model IEnumerable<SkyInsuranceThird.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2 class="heading">Sky Insurance</h2>

<h3 class="headie">Users</h3>


<div class="profile">
        <p class="tempmessage"> @TempData["addv"] </p>
    <p>
        @Html.ActionLink("Create New", "CreateUser", "", new { @class = "btn btn-success btn-xs" })
    </p>
    <table class="table">
        <tr>
            <th class="text-center" id="tablehead">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="text-center" id="tablehead">
                @Html.DisplayNameFor(model => model.Postcode)
            </th>
            <th class="text-center" id="tablehead"> Actions </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @*<a href="@Url.Action("Details", new { id = item.Id })">*@
                    @Html.DisplayFor(modelItem => item.Name)
                    @*</a>*@
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Postcode)
                </td>
                <td class="text-center">
                    @Html.ActionLink("Add Vehicle", "CreateVehicle", new { id = item.Id }, new { @class = "btn btn-success btn-xs" }) |
                    @Html.ActionLink("Edit User", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })


                </td>
            </tr>
        }

    </table>
</div>